<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="login">Voltar</ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form [formGroup]="formGroup">
    <ion-list lines="full" class="ion-no-margin">
      <ion-list-header lines="full">

        <img class="logo" src="assets/img/logo3.png" width="320px" height="250px" />
        <ion-label>

        </ion-label>
      </ion-list-header>


      <ion-item>
        <ion-icon name="mail-unread-outline" size="large" ></ion-icon>

        <ion-input class="fundo" placeholder="Insira seu e-mail" position="floating" formControlName="username"></ion-input>
      </ion-item>

    </ion-list>

    <ion-button expand="block" (click)="recuperarSenha()">
      Enviar redefinição
    </ion-button>


  </form>
</ion-content>