#item {
    border-bottom: solid;
    border-color: rgba(0, 3, 32, 0.11);
}

ion-content {
    background-color: rgb(215, 255, 255);
}
h2,
p {
    font-weight: bold;
}

#emailColor {
 
    color: rgb(78, 76, 76);
}
#status{
    color: green
}
