 .person-circle-outline{
   
    color: rgb(0, 225, 255);

}

.ock-closed{
    color: rgb(0, 26, 255);
}
#img{
    width: auto;
    height: 30px;
    overflow: hidden;
    float: left;
    padding-left: 6px;
}

.logo{
   
    margin-left: auto;
    margin-right: auto;
}

.user, .senha{
   
    height: 30px;
      
    color: rgba(3, 45, 100, 0.74);
}

.fundo{
    background-color: rgba(255, 255, 255, 0);
    color: black;
}
#slogan{
  
    text-align: center;
    text-size-adjust: 40px;
}
--ion-item-background{
    background-color: yellow;
    color: yellow;
}


.buttonLogin{
    background-color: yellow;
    color: blue;
}

#esqueceuSenha{
    text-align: right;
    text-size-adjust: 40px;
}

